<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/diarybutton_o"
            android:roundIcon="@drawable/diarybutton_o"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/Theme.SmallRecord"
            android:label="@string/app_name"
            tools:targetApi="31">
        <activity
                android:name="DiaryPage"

                android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name="FoodPage"


                android:exported="true">
        </activity>
        <activity
                android:name="CommunityPage">

        </activity>
        <activity
                android:name="BabyPage">


        </activity>
        <activity android:name=".CommunityPost"
            android:windowSoftInputMode="adjustPan">


        </activity>
        <activity
                android:name=".CommunityWrite"


                android:exported="true">
        </activity>




        <activity
                android:name="SettingPage">


        </activity>
        <activity
                android:name="Food_HomePage">

        </activity>
        <activity
                android:name="Food_ReadyPage">

        </activity>
        <activity
                android:name=".Setting_MyPage">
        </activity>
        <activity
                android:name=".Setting_LoginPage">
        </activity>
        <activity
                android:name=".Setting_RegisterPage">
        </activity>
        <activity
                android:name=".BarcodeCameraPage">



        </activity>
    </application>

</manifest>